/* IMPORT FONTS */

@font-face {
  font-family: 'SansSerif';
  //src:  url('../fonts/EncodeSansSemiExpanded-Regular.ttf');
  //src: local('sans-serif'), local('sans-serif'), url('../fonts/EncodeSansSemiExpanded-Regular.woff2') format('woff2'), url('../fonts/EncodeSansSemiExpanded-Regular.woff') format('woff'), url('../fonts/EncodeSansSemiExpanded-Regular.ttf') format('truetype');
  src: url('../fonts/EncodeSansSemiExpanded-Regular.woff2') format('woff2'), url('../fonts/EncodeSansSemiExpanded-Regular.woff') format('woff'), url('../fonts/EncodeSansSemiExpanded-Regular.ttf') format('truetype');

  font-style: normal;
}

@font-face {
  font-family: 'SansSerif';
  //src:  url('../fonts/EncodeSansSemiExpanded-Bold.ttf');
  src: url('../fonts/EncodeSansSemiExpanded-Bold.woff2') format('woff2'), url('../fonts/EncodeSansSemiExpanded-Bold.woff') format('woff'), url('../fonts/EncodeSansSemiExpanded-Bold.ttf') format('truetype');

  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: sans-serif, Verdana,'SansSerif';
  //src:  url('../fonts/EncodeSansSemiExpanded-Semibold.ttf');
 // src: url('../fonts/EncodeSansSemiExpanded-Semibold.woff2') format('woff2'), url('../fonts/EncodeSansSemiExpanded-Semibold.woff') format('woff'), url('../fonts/EncodeSansSemiExpanded-Semibold.ttf') format('truetype');

  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'SansSerif';
  //src:  url('../fonts/EncodeSansSemiExpanded-Semibold.ttf');
  src: url('../fonts/EncodeSansSemiExpanded-Regular.woff2') format('woff2'), url('../fonts/EncodeSansSemiExpanded-Regular.woff') format('woff'), url('../fonts/EncodeSansSemiExpanded-Regular.ttf') format('truetype');

  font-style: normal;
  font-weight: 400;
}

.text-line {
  text-decoration: line-through;
}

.h1, h1 {
  font-size: 2.5rem;
}

.h2, h2 {
  font-size: 2rem;
}

.h3, h3 {
  font-size: 1.75rem;
}

.h4, h4 {
  font-size: 1.5rem;
}

.h5, h5 {
  font-size: 1.25rem;
}

.h6, h6 {
  font-size: 0.75rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.font-lg {
  font-size: 1.25rem;
}

.font-xl {
  font-size: 1.5rem;
}

.font-xxl {
  font-size: 1.75rem;
}

.font-base {
  font-size: 1rem;
}

.font-small {
  font-size: .75rem;
}

.font-extra-small {
  font-size: .5rem;
}

.font-2x-small {
  font-size: .35rem;
}

$primary: #324ed0;
$info: #2196f3;
$success: #1abc9c;
$warning: #e2a03f;
$danger: #e7515a;
$secondary: #805dca;

$info-dark: #0e1726;
$dark: #3b3f5c;
$white: #fff;
$top-blue: #445ede;
$dark-top-blue: #304aca;
$main-color: #fafafa;
$border-color: #d8dbd9;
$svg-color: #b3b4b6;
$shadow-color: rgba(82, 83, 85, 0.1);
$shadow-size: 0 10px 30px 0;
$menu-color: #030305;
$menu-light-color: #888ea8;

@for $i from 1 through 6 {
  .weight-#{$i*100} {
    font-weight: #{$i*100} !important;
  }
}
.weight-500{
  font-weight: 501 !important;
}
.color-base ,.color-none{
  color: $menu-color !important;
}

.color-important {
  color: $warning !important;
}
.flag-important {
  border: 1px solid $warning !important;//226,160,63
  position: relative;
  box-shadow: 0 0 5px $warning;

  &::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="rgb(238,241,239)" stroke="rgb(26,188,156)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>');
    position: absolute;
    bottom: -13px;
    left: -13px;
    width: 32px;
    height: 32px;
    z-index: -1;
  }
}


.color-approved {
  color: $info !important;
}

.color-final {
  color: $secondary !important;
}

.color-good {
  color: $success !important;
}


.color-old {
  color: $border-color !important;//238,241,239
}


.color-bad {
  color: $danger !important;
}
.flag-important {
  border: 1px solid $warning !important;//226,160,63
  position: relative;
  box-shadow: 0 0 5px $warning;

  &::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="rgb(238,241,239)" stroke="rgb(226,160,63)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-triangle"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>');
    position: absolute;
    bottom: -18px;
    left: -13px;
    width: 32px;
    height: 32px;
    z-index: -1;
  }
}
.flag-approved {
  border: 1px solid $info !important;//33,150,243
  position: relative;
  box-shadow: 0 0 5px $info;

  &::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="rgb(238,241,239)" stroke="rgb(33,150,243)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>');
    position: absolute;
    bottom: -13px;
    left: -13px;
    width: 32px;
    height: 32px;
    z-index: -1;
  }
}
.flag-final {
  border: 1px solid $secondary !important;
  position: relative;
  box-shadow: 0 0 5px $secondary;//128,93,202

  &::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="rgb(238,241,239)" stroke="rgb(128,93,202)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-award"><circle cx="12" cy="8" r="7"></circle><polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline></svg>');
    position: absolute;
    bottom: -21px;
    left: -13px;
    width: 32px;
    height: 32px;
    z-index: 3;
  }
}
.flag-good {
  border: 1px solid $success !important;
  position: relative;
  box-shadow: 0 0 5px $success;

  &::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="rgb(238,241,239)" stroke="rgb(26,188,156)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>');
    position: absolute;
    bottom: -13px;
    left: -13px;
    width: 32px;
    height: 32px;
    z-index: -1;
  }
}
.flag-old {
  border: 1px solid $border-color !important;
  position: relative;
  box-shadow: 0 0 5px $border-color;

  &::after {
   content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="rgb(255,255,255)" stroke="rgb(216,217,219)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-frown"><circle cx="12" cy="12" r="10"></circle><path d="M16 16s-1.5-2-4-2-4 2-4 2"></path><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line></svg>');

    position: absolute;
    bottom: -13px;
    left: -13px;
    width: 32px;
    height: 32px;
    z-index: 1;
  }
}
.flag-bad {
  border: 1px solid $danger !important;
  box-shadow: 0 0 5px  $danger;
  position: relative;
  z-index: 0;
  //overflow: hidden;
  //&::after {
  //  background-image: url('data:image/svg+xml; utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="220px" y="240px"   viewBox="0 0 490 540" style="enable-background:new 0 0 490 540;" xml:space="preserve" stroke="rgba(231,81,90,0.5)" fill="rgba(231,81,90,0.5)">    <polygon points="11.387,490 245,255.832 478.613,490 489.439,479.174 255.809,244.996 489.439,10.811 478.613,0 245,234.161     11.387,0 0.561,10.811 234.191,244.996 0.561,479.174 "/></svg>');
  //  background-repeat: no-repeat;
  //  background-size:100% 100%;
  //  position: absolute;
  //  left: -2px;
  //  top: -0px;
  //  //width: 114%;
  //  //height: 111%;
  //  width: 220px;
  //  height: 240px;
  //  z-index: -1;
  //}
  &::before {
    content: '';
    position: absolute;
    display: block;
    width: auto;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0) url('../images/cross-b.svg') no-repeat;
    background-size: 100% 100%;
    z-index: -1;
  }
}

.color-date {
  color: $svg-color !important;
}

.link-blue {
  color: $info !important;
  text-decoration: none;
  position: relative;
  padding-left: 20px;
  font-size: .60rem;
  font-weight: 400;

  &::before {
    position: absolute;
    top: 1px;
    left: 0;
    width: 14px;
    height: 14px;
    content: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="rgb(33,150,243)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>');
  }
}

p {
  margin-bottom: 0 !important;
}

@for $i from 1 through 70 {
  .mr-#{$i} {
    margin-right: #{$i}px !important;
  }
  .ml-#{$i} {
    margin-left: #{$i}px !important;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .mt-#{$i} {
    margin-top: #{$i}px !important;
  }
  .pr-#{$i} {
    padding-right: #{$i}px !important;
  }
  .pl-#{$i} {
    padding-left: #{$i}px !important;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .pt-#{$i} {
    padding-top: #{$i}px !important;
  }
  .p-#{$i} {
    padding: #{$i}px !important;
  }
  .px-#{$i} {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }
  .py-#{$i} {
    padding-top: #{$i}px !important;
    padding-bottom: #{$i}px !important;
  }
  .mx-#{$i} {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
  }
  .my-#{$i} {
    margin-top: #{$i}px !important;
    margin-bottom: #{$i}px !important;
  }

}