
.main-menu-box {
  z-index: 1;
  width: fit-content;

  top: 0;
  right: 0;
  background: $white;
  border-radius: 6px;
  border: 1px solid $border-color;
  box-shadow: $shadow-size $shadow-color;
  padding: 0;
  font-size: 0.68rem;
  white-space: nowrap;

  svg {
    color: $svg-color;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    fill: rgba(0, 23, 55, 0.08);
    margin-right: 15px;
  }

  ul {
    padding: 0;

    li {
      padding: 0 20px;
      cursor: pointer;
      list-style: none;
      margin: 20px 0;
      display: flex;
      justify-content: start;
      align-items: center;

      & .active {
        color: $info !important;

        svg {
          color: $info !important;
          stroke: $info !important;
          fill: rgba(0, 23, 55, 0.08);
        }
      }

      &:hover {
        color: $info;
      }
    }

  }


}

.flag-menu-box {
  display: none;
  position: absolute;
  z-index: 1;
  width: fit-content;

  top: -20px;
  left: 107%;
  background: $white;
  border-radius: 6px;
  border: 1px solid $border-color;
  box-shadow: $shadow-size $shadow-color;
  padding: 0;
  font-size: 0.68rem;
  white-space: nowrap;

  svg {
    color: $svg-color;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    fill: rgba(0, 23, 55, 0.08);
    margin-right: 15px;
  }

  ul {
    padding: 0;
  }

  li {
    padding: 0 20px;
    cursor: pointer;
    list-style: none;
    margin: 20px 0;
    display: flex;
    justify-content: start;
    align-items: center;

    &:hover {
      text-decoration: underline;
      color: currentColor;
    }
  }
}

.flag {
  position: relative;

  &:hover {
    .flag-menu-box {
      display: block;
    }

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      right: -12px;
      width: 0;
      height: 0;
      border-bottom: 8px solid transparent;
      border-left: 12px solid #fff;
      border-right: 0;
      border-top: 8px solid transparent;
      filter: drop-shadow(2px 2px 2px $border-color);
    }
  }
}
