
main {
  padding: 17px 17px 17px 100px;
  position: relative;
  background: $main-color;
}

.center-zone {
  width: 76%;
  background: $main-color;
  border-radius: 6px;
  padding: 17px;
  height: 87vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background: #fafafa;
  }
}

.main-menu-box {
  z-index: 1;
  width: fit-content;

  top: 0;
  right: 0;
  background: $white;
  border-radius: 6px;
  border: 1px solid $border-color;
  box-shadow: $shadow-size $shadow-color;
  padding: 0;
  font-size: 0.68rem;
  white-space: nowrap;

  svg {
    color: $svg-color;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    fill: rgba(0, 23, 55, 0.08);
    margin-right: 15px;
  }

  ul {
    padding: 0;

    li {
      padding: 0 20px;
      cursor: pointer;
      list-style: none;
      margin: 20px 0;
      display: flex;
      justify-content: start;
      align-items: center;

      & .active {
        color: $info !important;

        svg {
          color: $info !important;
          stroke: $info !important;
          fill: rgba(0, 23, 55, 0.08);
        }
      }

      &:hover {
        color: $info;
      }
    }

  }


}

.flag-menu-box {
  display: none;
  position: absolute;
  z-index: 1;
  width: fit-content;

  top: -20px;
  left: 107%;
  background: $white;
  border-radius: 6px;
  border: 1px solid $border-color;
  box-shadow: $shadow-size $shadow-color;
  padding: 0;
  font-size: 0.68rem;
  white-space: nowrap;

  svg {
    color: $svg-color;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    fill: rgba(0, 23, 55, 0.08);
    margin-right: 15px;
  }

  ul {
    padding: 0;
  }

  li {
    padding: 0 20px;
    cursor: pointer;
    list-style: none;
    margin: 20px 0;
    display: flex;
    justify-content: start;
    align-items: center;

    &:hover {
      text-decoration: underline;
      color: currentColor;
    }
  }
}

.flag {
  position: relative;

  &:hover {
    .flag-menu-box {
      display: block;
    }

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      right: -12px;
      width: 0;
      height: 0;
      border-bottom: 8px solid transparent;
      border-left: 12px solid #fff;
      border-right: 0;
      border-top: 8px solid transparent;
      filter: drop-shadow(2px 2px 2px $border-color);
    }
  }
}

/* BREADCRUMBS  */

.breadcrumb-box {
  background-color: transparent;

  .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;

    border-radius: 0.25rem;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-size: 14px;
      background: #fff;
      margin-right: 20px;
      margin-bottom: 6px;
      padding: 7px 10px;
      border-radius: 10px;
      border: 1px solid #e0e6ed;
      box-shadow: 0px 1px 8px 0px rgb(31 45 61 / 10%);

    }

    li:not(:first-child):before {
      content: '';
      position: absolute;
      border-radius: 50%;
      height: 4px;
      width: 4px;
      background: #4361ee;
      left: -13px;
      top: 50%;
    }

    a {
      text-decoration: none;
      color: $menu-light-color;
    }

    .active {
      a {
        color: $info;
        font-weight: 500;
      }
    }
  }
}


.center-zone__inner-section {
  display: grid;
  //grid-template-columns: repeat(5,1fr);
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 35px;
}
.grid-medium{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) !important;
  //grid-template-rows: 100px!important;
  grid-gap: 15px !important;
  font-size: .5rem!important;
}
.grid-small{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)) !important;
  //grid-template-rows: 50px!important;

  grid-gap: 10px !important;
  font-size: .5rem!important;
}

.center-zone__project-box {
  width:100%;
  height: 100%;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #e5eaf0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.folder{
  position: relative;
  background: url('../images/folder.png') no-repeat;
  background-size: cover;
  width:100%;
  height:100%;
  .folder-name{
    position: absolute;
    bottom: 20px;
    left:20px;
    right:10px;
    font-size: .7rem;
  }
}
.project{
  width:100%;
  height: fit-content;
  min-height: 100%;
  position: relative;
  .project-name{
    //position: absolute;
    margin:10px;
    font-size: .7rem;
  }
  .project-box{
    min-width: 100%;
    height:80%;
    overflow: hidden;
    border-radius: 6px;
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}