@import 'fonts';
@import "base";
@import "top-section";
@import "left-section";
@import 'main-section';
@import 'right-section';
@import "default.min.scss";
@import "inputs-buttons";
.relative{
  position: relative;
}
.codeflask {
  background: #fff;
  color: #030623 !important;
  font-weight: 600 !important;
}
.code{
  font-size: .7rem;
  white-space: pre;
}
.hljs-ln-n{
  //background: url('../images/textarea-line.png');
  //background-attachment: local;
  //background-repeat: no-repeat;
  background: #e2dfdf;
  border-right: 1px solid #bbbaba;
  padding-left:5px;
  padding-right: 5px!important;
  color: #2195f3;
}
.hljs-line-numbers {

  text-align: right;
  border-right: 1px solid #ccc;
  color: #999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#file-editor{
  position: relative;
  min-height: 60vh;
  overflow-y: hidden;
}
.lg-backdrop{
  background: rgba(0,0,0,.8) !important;
}
.no-click{
  z-index: 9;
}
.project,.folder{
  z-index: 2;
}
.gallery{
  .center-zone__inner-section{
    grid-template-columns: repeat(auto-fill,minmax(220px,220px)) !important;
    .project,.folder{
      width:220px !important;
      height:240px !important;
    }
  }

}
.medium{
  & .center-zone__inner-section{
    grid-template-columns: repeat(auto-fill,minmax(140px,140px)) !important;
    grid-gap: 25px;
    .project,.folder{
      width:130px !important;
      height:150px !important;
    }
  }

}

.small{
  & .center-zone__inner-section{
    grid-template-columns: repeat(auto-fill,minmax(80px,80px)) !important;
    grid-gap: 15px;
    .project,.folder{
      width:80px !important;
      height:80px !important;

      font-weight: bold;
      p{
        font-size: .42rem!important;
      }
    }
    .project-name,.folder-name{
      margin:2px!important;
      bottom: 7px;
      left: 6px;
    }
  }

}

.project-chat{
  position: absolute;
  left: -15px;
  top: -14px;
  z-index: 1;
  content: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="rgb(226,160,63)" stroke="rgb(226,160,63)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>');
  transform: scaleX(-1);
  cursor: pointer;
}
.project-tasks{
  position: absolute;
  right: -12px;
  top: -15px;
  z-index: 1;
  content: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="rgb(231,81,90)" stroke="rgb(231,81,90)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>');
  cursor: pointer;
}
