
.btn-purple {
  background: #bc4595;
  border:1px solid #bc4595;
  color: $white !important;
  font-size: $button-text-size;
  padding: .25rem 2.4rem;
  box-shadow: 3px 0px 7px rgba(0, 0, 0, .35);
  &:hover{
    background: #9f2b79;
    color: $white !important;
  }
}
.btn-purple-outline {
  background: $white;
  border:1px solid #bc4595;
  color: #bc4595 !important;
  font-size: $button-text-size;
  padding: .25rem 2.4rem;
  box-shadow: 3px 0px 7px rgba(0, 0, 0, .35);
  &:hover{
    background: #bc4595;
    border:1px solid #bc4595;
    color: $white !important;
  }
}
.btn-green {
  background: #4db6ac;
  border:1px solid #4db6ac;
  color: $white !important;
  font-size: $button-text-size;
  padding: .25rem 2.4rem;
  box-shadow: 3px 0px 7px rgba(0, 0, 0, .35);
  &:hover{
    background: #108176;
    color: $white !important;
  }
}
.btn-green-outline {
  background: $white;
  border:1px solid #4db6ac;
  color: #4db6ac !important;
  font-size: $button-text-size;
  padding: .25rem 2.4rem;
  box-shadow: 3px 0px 7px rgba(0, 0, 0, .35);
  &:hover{
    background: #4db6ac;
    color: $white !important;
    border:1px solid #4db6ac;
  }
}
.btn-orange {
  background: #f87b5f;
  border:1px solid #f87b5f;
  color: $white !important;
  font-size: $button-text-size;
  padding: .25rem 2.4rem;
  box-shadow: 3px 0px 7px rgba(0, 0, 0, .35);
  &:hover{
    background: #d94423;
    color: $white !important;
  }
}
.btn-orange-outline {
  background: $white;
  border:1px solid #f87b5f;
  color: #f87b5f !important;
  font-size: $button-text-size;
  padding: .25rem 2.4rem;
  box-shadow: 3px 0px 7px rgba(0, 0, 0, .35);
  &:hover{
    background: #f87b5f;
    color: $white !important;
    border:1px solid #f87b5f;
  }
}
.btn-blue {
  background: #0079d7;
  border:1px solid #f87b5f;
  color: $white !important;
  font-size: $button-text-size;
  padding: .25rem 2.4rem;
  box-shadow: 3px 0px 7px rgba(0, 0, 0, .35);
  &:hover{
    background: #005fa7;
    color: $white !important;
  }
}
.btn-blue-outline {
  background: $white;
  border:1px solid #0079d7;
  color:#0079d7 !important;
  font-size: $button-text-size;
  padding: .25rem 2.4rem;
  box-shadow: 3px 0px 7px rgba(0, 0, 0, .35);
  &:hover{
    background: #0079d7;
    color: $white !important;
    border:1px solid #0079d7;
  }
}
.btn-black {
  background: $black;
  border:1px solid $black ;
  color: $white !important;
  font-size: $button-text-size;
  padding: .25rem 2.4rem;
  box-shadow: 3px 0px 7px rgba(0, 0, 0, .35);
  &:hover{
    background: #313131;
    color: $white !important;
    border:1px solid  #313131 ;
  }
}
.btn-black-outline {
  background: $white;
  border:1px solid $black;
  color:$black !important;
  font-size: $button-text-size;
  padding: .25rem 2.4rem;
  box-shadow: 3px 0px 7px rgba(0, 0, 0, .35);
  &:hover{
    background: $black;
    color: $white !important;
    border:1px solid $black;
  }
}
