//FONTS colors and sizes

html {
  font-family: 'Motiva Sans';
  font-size: 16px;
  color: $base-text-color;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: $white;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-gradient {
  background: linear-gradient(90deg, #84499a 0%, #c74494 50%, #f49b92 100%);
}

.bg-white-opacity-1 {
  transition: .3s linear;
  background: rgba(255, 255, 255, .4);

}

.bg-white-opacity-2 {
  transition: .3s linear;
  background: rgba(255, 255, 255, .6);
  box-shadow: 0px 4px 5px #685e5e75;
}
.bg-white{
  transition: .3s linear;
  opacity: 1;
  background: $white;
}
header {
  color: $base-text-color !important;
  font-size: $text-base;
  font-weight: 400;
}

.navbar {
  height: 110px;
}

.small-nav {
  height: 50px;
}

.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  color: $base-text-color !important;
  font-size: $text-base;
}

.pt-150 {
  padding-top: 150px;
}

.slider-image {
  max-height: 95%;
  width: auto;
  right: -55px !important;
}

.slider-text {
  font-size: 4rem;
  line-height: 110%;
  color: $white;
}
.icons-move-left{
  min-width: 100vw;
  overflow: hidden;
  display: inline-flex;
}
.icons-move-right{
  min-width: 100vw;
  overflow: hidden;
  display: inline-flex;
}
.icon{

}
.phones{
  max-width: 120% !important;
  bottom: -50px;
}
.clip-left{
  clip-path:  polygon(0% 0%,100% 0%,100% 100%, 0% 90%);
  z-index: 0;
}
.btn{
  z-index: 2 !important;
  &:focus{
    box-shadow: none;

  }
}
.button-center-absolute{
  left:50%;
  transform: translateX(-50%);
}
.blue-container{
  min-width: 80%;
  z-index: 2;
  left:50%;
  transform: translateX(-50%);
}
.p-b-200{
  padding-bottom:200px;
}
.phone-image{
 bottom:-12px;
}