//FONTS colors and sizes
$base-text-color: #232649;
$text-base: 1.5rem;
$text-small: 1.125rem;
$text-title: 2rem;
$button-text-size: 1.75rem;
$big-button-text-size: 2.25rem;
$h1-text-size: 5rem;
$h2-text-size: 4rem;
$h3-text-size: 3rem;
$white: #fff;
html {
  font-family: 'Motiva Sans';
  font-size: 16px;
  color: $base-text-color;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-gradient {
  background: linear-gradient(90deg, #84499a 0%, #c74494 50%, #f49b92 100%);
}

.bg-white-opacity-1 {
  background: rgba(255, 255, 255, .4);

}

.bg-white-opacity-2 {
  background: rgba(255, 255, 255, .6);
  box-shadow: 0px 4px 5px #685e5e75;
}
header{
  color: $base-text-color !important;
  font-size: $text-base;
  font-weight: 400;
}
.navbar{
  height:110px;
}
.small-nav{
  height: 50px;
}
 .nav-link {
    font-weight: 600;
    text-transform: uppercase;
    color: $base-text-color !important;
    font-size: $text-base;
  }

