//FONTS colors and sizes

html {
  font-family: 'Motiva Sans';
  font-size: 16px;
  color: $base-text-color;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: $white;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-gradient {
  background: linear-gradient(90deg, #84499a 0%, #c74494 50%, #f49b92 100%);
}

.bg-white-opacity-1 {
  transition: .3s linear;
  background: rgba(255, 255, 255, .4);

}

.bg-white-opacity-2 {
  transition: .3s linear;
  background: rgba(255, 255, 255, .6);
  box-shadow: 0px 4px 5px #685e5e75;
}
.bg-white{
  transition: .3s linear;
  opacity: 1;
  background: $white;
}
header {
  color: $base-text-color !important;
  font-size: $text-base;
  font-weight: 400;
}

.navbar {
  height: 110px;
}

.small-nav {
  height: 50px;
}

.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  color: $base-text-color !important;
  font-size: $text-base;
}

.pt-150 {
  padding-top: 150px;
}

.slider-image {
  max-height: 95%;
  width: auto;
  right: -55px !important;
}

.slider-text {
  font-size: 4rem;
  line-height: 110%;
  color: $white;
}
.icons-move-left{
  min-width: 100vw;
  overflow: hidden;
  display: inline-flex;
}
.icons-move-right{
  min-width: 100vw;
  overflow: hidden;
  display: inline-flex;
}
.icon-static-box{

}
.icons-box{
  min-width: 120vw;
  overflow: hidden;
  white-space: nowrap;
}
.phones{
  max-width: 120% !important;
  bottom: -50px;
}
.clip-left{
  clip-path:  polygon(0% 0%,100% 0%,100% 100%, 0% 90%);
  z-index: 0;
}
.btn{
  z-index: 2 !important;
  &:focus{
    box-shadow: none;

  }
}
.button-center-absolute{
  left:50%;
  transform: translateX(-50%);
}
.blue-block{
  grid-template-columns: 2fr 20fr 2fr;
}
.blue-container{
  min-width: 100%;
  z-index: 2;
  //left:50%;
  //transform: translateX(-50%);
}
.ps-16{
  padding-left:16rem;
}
.phone-image{
 bottom:-12px;
}
.map-box{
  grid-template-columns: 5fr 7fr;
  grid-column-gap: 3rem;
}
.-left-5{
  left:-5rem;
}
.tabs-box{
  grid-template-columns: 7fr 5fr;
  grid-column-gap: 2rem;
  align-items: start;
}
.rounded-box{
  cursor: pointer;
  border-radius: 2rem;
  border: 1px solid #808080;
  box-shadow: 8px 12px 16px rgba(0,0,0,.05);
}
.phone-box{

  height: 100%;
  border-top: 10px solid $black;
  border-left: 10px solid $black;
  border-right: 10px solid $black;
  border-radius: 4rem 4rem 0 0;
}
.shadow-top{
  box-shadow: 3px 12px 16px rgba(0,0,0,.3);
}
.tabs-section{
  grid-template-columns: 1fr 1fr 1fr;
}

.checked-list{
  li{
    position: relative;
    list-style: none;
    padding-left: 2rem;
    &::before{
      position: absolute;
      top: 4px;
      left: -5px;
      content: url('../images/check-blue.png');
    }
  }
}
.-right-50{
  left: 80%;
}